*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 10px;
}

.container{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    z-index: -1;
}
.background{
    transform: translateZ(-36px) scale(5);
}

.background , .foreground{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

h1{
    color: white;
    position: absolute;
    top: 5rem;
    font-size: 10rem;
   
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section{
    background-color: rgb(45, 45, 45);
    padding: 0.1rem;
    color: white;
}

.secheading{
    font-size: 5rem;
    padding: 0 10rem;
}

.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.desc{
    position: absolute;
    background-color: white;
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
    color: black;
    font-size: 3.5rem;
    font-weight: 600;
   
}

.bg1{
    background-image: url(sport-1.jpg);
}
.bg2{
    background-image: url(sport-2.jpg);
}
.bg3{
    background-image: url(sport-3.jpg);
}
.bg{
    position: relative;
    width: 100%;
    background-attachment: fixed;
    height: 500px;
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width:1000px) {
    h1{
        top: 10rem;
        font-size: 66px;
        text-align: center;
    }
    .background , .foreground{
        position: absolute;
        object-fit: cover;
        width: max-content;
        z-index: -1;
    }

    .secheading{
        font-size: 3.5rem;
        text-align: center;
        padding: 3rem;
    }

    .text{
        font-size: 20px;
        margin: 2rem;
        text-align: center;
        padding: 0%;
    }

    .desc{
        position: absolute;
        font-size: 3rem;
        font-weight: 600;
       
    }
    

    


}

    

@media only screen and (max-width:566px){
    h1{
        top:10rem;
        font-size: 40px;
        text-align: center;
    }


    .background , .foreground{
        position: absolute;
        object-fit: cover;
        width: max-content; 
        z-index: -1;
    }

    .secheading{
        font-size: 2rem;
        text-align: center;
        padding: 3rem;
    }

    .text{
        font-size: 20px;
        margin: 2rem;
        text-align: center;
        padding: 0%;
    }


    .desc{
        position: absolute;
        font-size: 2rem;
        font-weight: 600;
       
    }

    .bg1{
        width: 100%;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg2{
        width: 100%;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .bg3{
        width: 100%;
        position: relative;
        background-size: contain;
        background-repeat: no-repeat;
    }
    


} 


 